<ion-view>
    <ion-content>
        <div id="menubody">
            <div class="menu_masthead menu_new">
                <div class="masthead_text"><h1>New Testament</h1><h2>신약</h2></div>
            </div>
            <div class="list">
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Mark 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Luke 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">John 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
                <div class="list_item"><a href="#"><span class="listlink">Matthew 마태복음</span></a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
