<ion-view view-title="Setting">
    <ion-content style="background-color: #3a3a3a">
        <div id="menubody">
            <div class="menu_masthead menu_map">
                <div class="masthead_text"><h1>Maps</h1><h2>지도</h2></div>
            </div>
            <div class="list">
                <div class="list_item"><a href="#"><span class="listlink">Exodus Journey</span></a></div>
                <div class="clearfix"></div>
                <div class="list_item"><a href="#"><span class="listlink">Israel & Judah</span></a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
